# Environment variables
.env
.env.*
!.env.example

# Sensitive documentation
/var/www/private/*

# Logs
logs
*.log

# Dependencies
node_modules
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE
.vscode
.idea
